<!-- Copyright -->
<div class="copyright z-layer-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <span data-i18n="copyright.rights_reserved"></span>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <span class="fa fa-lg fa-book"></span>
                    <span data-i18n="copyright.terms"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Scripts-->
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/i18next")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/signalr")
<script src="~/signalr/hubs"></script>

<!-- i18n boot -->
<script type="text/javascript">
    appStart();
</script>
