<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
        Earthscape - Origin :: Dofus 1.29
    </title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
</head>
