
@{
    ViewBag.Title = "Ladder";
}

<div class="contained z-layer-1">
    <div class="ladder-content">
        <div class="alert alert-info text-center small">
            <div class="row">
                <span data-i18n="ladder.change_legend"></span>
            </div>
            <div class="row">
                <span data-i18n="ladder.last_refresh"></span>
                <strong>
                    @LadderManager.Instance.LastUpdate.ToString("HH:mm:ss")
                </strong>
            </div>
            <div class="row">
                <span data-i18n="ladder.next_refresh"></span>
                <strong>
                    @LadderManager.Instance.NextUpdate.ToString("HH:mm:ss")
                </strong>
            </div>
        </div>
        <hr />
        <div class="list-group ladder-list">
            <div class="list-group-item">
                <div class="row text-center">
                    <div class="col-xs-2" data-i18n="ladder.rank">
                    </div>
                    <div class="col-xs-1" data-i18n="ladder.change">
                    </div>
                    <div class="col-xs-3" data-i18n="ladder.name">
                    </div>
                    <div class="col-xs-3" data-i18n="ladder.level">
                    </div>
                    <div class="col-xs-2" data-i18n="ladder.experience">
                    </div>
                </div>
            </div>
            @foreach (var entry in LadderManager.Instance.Entries)
            {
                <a class="list-group-item" href="#">
                    <div class="row text-center">
                        <div class="col-xs-2">
                            @entry.Index
                        </div>
                        <div class="col-xs-1">
                            @if (entry.Index < entry.LastIndex)
                            {
                                <span class="ladder-change-up">
                                    @(entry.LastIndex - entry.Index)
                                    <span class="fa fa-fw fa-arrow-up"></span>
                                </span>
                            }
                            else if (entry.Index > entry.LastIndex)
                            {
                                <span class="ladder-change-down">
                                    @(entry.Index - entry.LastIndex)
                                    <span class="fa fa-fw fa-arrow-down"></span>
                                </span>
                            }
                            else
                            {
                                <span class="fa fa-fw fa-arrow-right ladder-change-stable"></span>
                            }                                    
                        </div>
                        <div class="col-xs-3">
                            @entry.Name
                        </div>
                        <div class="col-xs-3">
                            @entry.Level
                        </div>
                        <div class="col-xs-2">
                            @entry.Experience
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>