<div class="ladder-content">
    <div class="alert alert-info small">
        <strong>
            <span data-i18n="ladder.informations"></span> :
        </strong>
        <ul>
            <li>
                <span data-i18n="ladder.change_legend"></span>
            </li>
            <li>
                <span data-i18n="ladder.last_refresh"></span>
                <strong>
                    @ViewBag.LastUpdate
                </strong>
            </li>
            <li>
                <span data-i18n="ladder.next_refresh"></span>
                <strong>
                    @ViewBag.NextUpdate
                </strong>
            </li>
        </ul>
    </div>
    <hr />
    <div class="list-group ladder-list">
        <div class="list-group-item">
            <div class="row text-center">
                <div class="col-md-2" data-i18n="ladder.rank">
                </div>
                <div class="col-md-1" data-i18n="ladder.change">
                </div>
                <div class="col-md-3" data-i18n="ladder.name">
                </div>
                <div class="col-md-1" data-i18n="ladder.breed">
                </div>
                <div class="col-md-2" data-i18n="ladder.level">
                </div>
                <div class="col-md-2" data-i18n="ladder.experience">
                </div>
            </div>
        </div>
        @foreach (var entry in ViewBag.Ladder)
        {
            <a class="list-group-item" href="#">
                <div class="row text-center">
                    <div class="col-md-2">
                        @entry.Index
                    </div>
                    <div class="col-md-1">
                        @if (entry.Index < entry.LastIndex)
                        {
                            <span class="ladder-change-up">
                                @(entry.LastIndex - entry.Index)
                                <span class="fa fa-long-arrow-up"></span>
                            </span>
                        }
                        else if (entry.Index > entry.LastIndex)
                        {
                            <span class="ladder-change-down">
                                @(entry.Index - entry.LastIndex)
                                <span class="fa fa-long-arrow-down"></span>
                            </span>
                        }
                        else
                        {
                            <span class="fa fa-long-arrow-right ladder-change-stable"></span>
                        }
                    </div>
                    <div class="col-md-3">
                        @entry.Name
                    </div>
                    <div class="col-md-1">
                        <img class="ladder-breed-img" style="" src="~/Content/img/dofus/breeds/heads/small/@(entry.Breed + "" + (entry.Sex ? "1" : "0")).png" />
                    </div>
                    <div class="col-md-2">
                        @entry.Level
                    </div>
                    <div class="col-md-2">
                        @entry.Experience
                    </div>
                </div>
            </a>
        }
    </div>
</div>